In [1]:
from SynGen import syngen

In [2]:
obj = syngen()

In [3]:
obj.college_regno()

'2018ACIV4586489'

In [4]:
obj.fake.name()

'Ishita Randhawa'

In [5]:
obj.gen_data_series(num = 5, data_type = "email")

0                         neysa31@wali.net
1                       ivansaraf@gour.net
2                        hansh33@yahoo.com
3                   khuranastuvan@kota.net
4    tarinichada@ramachandran-bhardwaj.com
dtype: object

In [6]:
df = obj.gen_dataframe(fields=['name', 'college_regno', 'phone_num', 'email'])
df

,name,college_regno,email,phone_num
0,Hazel Sehgal,2012ACSC8825486,Hazel_Sehgal@rediffmail.com,82345-13237
1,Ira Rege,2020AETX8992876,IRege56@gmail.com,71835-17161
2,Riaan Rajagopalan,2016AETC5099545,Rajagopalan_Riaan94@mail.com,85288-12740
3,Abram Lala,2011AIFT9428515,AbramLala@aol.com,82207-37342
4,Gokul Taneja,2018AETC4801489,Gokul.Taneja@raisoni.net,97172-86257
5,Samaira Shere,2019ACIV6456570,Samaira_Shere@mail.com,86483-71326
6,Gatik Bir,2018ACSC0083636,GatikBir@att.com,77753-68649
7,Nitya Sawhney,2015ACSC1831678,Nitya.Sawhney@aol.com,85832-06119
8,Romil Ratti,2017AETX5268558,Ratti_Romil@rediffmail.com,71854-02385
9,Rania Edwin,2022AETC0027845,Rania.Edwin@protonmail.com,82305-37099

In [7]:
obj.email(name = obj.fake.name())

'MMaster56@outlook.com'

In [8]:
obj.fake.name()

'Kavya Konda'

# Module 3

## Linear Regression

In [9]:
from SynGen import compare_algo

In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [11]:
df = pd.read_csv("Salary_Data.csv")

In [12]:
xlist = 'YearsExperience'
ylist = 'Salary'

In [13]:
obj = compare_algo(df)

In [14]:
obj.linear_reg(xlist, ylist)

(-6.581536262068456, 2446.1723690465055, 12823412.298126549, 3580.979237321343)

## Logistic Regression

In [15]:
df2 = pd.read_csv("Social_Network_Ads.csv")

In [16]:
obj2 = compare_algo(df2)

In [17]:
xlist = 'Age,EstimatedSalary'
ylist = 'Purchased'

In [18]:
obj2.logistic_reg(xlist, ylist)

0.925

## DBSCAN Clustering

In [19]:
from SynGen import compare_algo

In [20]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [21]:
df3 = pd.read_csv("Mall_Customers.csv")

In [22]:
obj3 = compare_algo(df3)

In [23]:
xlist = "Annual Income (k$),Spending Score (1-100)"
min_samples = 3

In [24]:
obj3.dbscan(xlist, min_samples)

47.56158504262914

## SVM

In [25]:
df4 = pd.read_csv("Social_Network_Ads.csv")

In [26]:
df4.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [27]:
xlist = 'Age,EstimatedSalary'
ylist = 'Purchased'

In [28]:
obj4 = compare_algo(df4)

In [29]:
obj4.svmc(xlist, ylist)

0.95

## KMeans

In [30]:
df5 = pd.read_csv("Mall_Customers.csv")

In [31]:
obj5 = compare_algo(df5)

In [32]:
xlist = "Annual Income (k$),Spending Score (1-100)"
n_clusters = 5

In [33]:
obj5.kmeans(xlist, n_clusters)

55.3931997444648

## KNN

In [34]:
df6 = pd.read_csv("Social_Network_Ads.csv")

In [35]:
obj6 = compare_algo(df6)

In [36]:
xlist = 'Age,EstimatedSalary'
ylist = 'Purchased'

In [37]:
obj6.knn(xlist, ylist)

(0.95, 4)

## DecisionTreeClassifier

In [38]:
df7 = pd.read_csv("Social_Network_Ads.csv")

In [39]:
obj7 = compare_algo(df7)

In [40]:
xlist = 'Age,EstimatedSalary'
ylist = 'Purchased'

In [41]:
obj7.DTClassifier(xlist, ylist)

0.9

## RandomForestClassifier

In [42]:
obj7.RFClassifier(xlist, ylist)

0.925

## DecisionTreeRegression

In [43]:
df8 = pd.read_csv("Salary_Data.csv")

In [44]:
xlist = 'YearsExperience'
ylist = 'Salary'

In [45]:
obj8 = compare_algo(df8)

In [46]:
obj8.DTRegression(xlist, ylist)

(-6.581536262068456, 4120.666666666667, 25498988.416666668, 5049.652306512466)

## RandomForestRegression

In [47]:
obj8.RFRegression(xlist, ylist)

D:\CoE\SynGenV1.7\SynGen.py:542: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(x_train, y_train)

(-6.581536262068456, 4370.534166666667, 24244475.505977083, 4923.8679415655615)

In [48]:
obj8.svmr(xlist, ylist)

C:\Users\Akash\anaconda3\envs\syngen\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

(0.9909851574594075, 81752.65559905065, 7458766990.583584, 86364.15338891237)

In [49]:
obj8.supervisedAlgos(xlist, ylist)

C:\Users\Akash\anaconda3\envs\syngen\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
D:\CoE\SynGenV1.7\SynGen.py:542: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(x_train, y_train)

(0.9909851574594075,
 'Support Vector Machine-R',
 [-6.581536262068456,
  0.9909851574594075,
  -6.581536262068456,
  -6.581536262068456],
 ['regressions',
  'Linear Reg',
  'Support Vector Machine-R',
  'Decision Tree-R',
  'Random Forest-R'],
 5)

In [50]:
xlist = 'Age,EstimatedSalary'
ylist = 'Purchased'

In [51]:
obj7.classification(xlist, ylist)

(0.95,
 'Support Vector Machine -C',
 [0.925, 0.9, 0.95, 0.95, 0.925],
 ['classifications',
  'logistic Reg -C',
  'Decision Tree -C',
  'Support Vector Machine -C',
  'K-Nearest Neighbor -C',
  'Random Forest -C'],
 6)