In [1]:
from SynGen import syngen

In [2]:
obj = syngen()

In [3]:
obj.college_regno()

'2015AETC7065309'

In [4]:
obj.fake.name()

'Trisha Ravel'

In [5]:
obj.gen_data_series(num = 5, data_type = "aadhaar_id")

0    677715513086
1    564982268166
2    138898865900
3    606132592514
4    589215756836
dtype: object

In [6]:
df = obj.gen_dataframe(fields=['name', 'college_regno', 'phone_num'])
df

                 name    college_regno    phone_num
0        Ritvik Arora  2022ACIV9836090  97038-67754
1          Kiara Hora  2018ACSC4266479  97652-21059
2       Sahil Mahajan  2011ACSC3010419  83529-41885
3  Shayak Viswanathan  2018AETX7665686  87450-39908
4    Mahika Ahluwalia  2012AETC4791756  96299-78342
5         Zeeshan Sen  2017ACIV7354047  83312-89322
6        Stuvan Koshy  2018AETX8547600  89410-39054
7        Chirag Krish  2011ACIV1544302  81550-94294
8        Kiara Mandal  2016AETC1966891  80473-73899
9   Ela Krishnamurthy  2019AIFT4655393  99113-45335

In [14]:
obj.email(name = obj.fake.name())

'AVenkatesh80@raisoni.net'

In [17]:
obj.fake.name()

'Veer Aggarwal'